---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Hero from "../components/Hero.astro";
import Feature from "../components/Feature.astro";
import Counter from "../components/Counter.astro";
import ContentMedia from "../components/ContentMedia.astro";
---

<script src="../js/scrollanimate-reverse.js"></script>
<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Know Me</h2>
      <p class="slide-in-reverse text-2xl">
        Hi, I'm Shivansh Gupta, a 20 year old college student, born and brought
        up in Prayagraj, U.P. India. I'm currently pursuing B.Tech in
        Electronics & Communication Engineering, with a knack for software
        development. I love to always keep learning new technologies and always
        keep trying new things.
      </p>
    </div>
  </section>
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">My Technology Stack</h2>
      <div
        class="features-list grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="flutter" title="Flutter" stars="4" />
        <Feature icon="laravel" title="Laravel" stars="4" />
        <Feature icon="node" title="NodeJS" stars="3" />
        <Feature icon="typescript" title="TypeScript" stars="4" />
        <Feature icon="mysql" title="MySQL" stars="3" />
        <Feature icon="figma" title="Figma" stars="5" />
      </div>
    </div>
  </section>

  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>Featured Project: Tech Quiz</h2>
    <p class="text-2xl">
      My Tech Quiz is a technical quiz app made with Flutter's UI toolkit. It is
      a fully fledged app that is production ready with features such as sign
      in, sign up, quiz, and a leaderboard, to name a few. Click here to check
      it out on <a href="https://github.com/gshivg/quiz_flutter" target="_blank"
        >Github</a
      > to know more.
    </p>
    <p><a href="/projects/">Click here</a> to read about my other projects.</p>
  </ContentMedia>

  <!-- <section class="mt-64 mb-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Counters</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="130" title="Stars" sub="On GitHub" />
        <Counter count="17" title="Accessible" sub="Components" />
        <Counter count="500" title="Commits" sub="Merged" />
        <Counter count="18+" title="Months" sub="Since launch" />
      </div>
    </div>
  </section> -->
</DefaultLayout>

<style lang="scss">
  @for $i from 1 through 6 {
    .features-list:nth-child(#{$i}) {
      transition-delay: 1s * $i;
    }
  }
</style>
