---
import CallToAction from "./CallToAction.astro";

const currentYear = new Date().getFullYear();
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        Impletemted on <a href="https://astro.build/" target="_blank">Astro</a> with a starter theme
        by <a href="https://github.com/markteekman" target="_blank">Mark Teekman</a>.
      </p>
    </div>
  </section>
</footer>
