---
import { Icon } from "astro-icon";

const { src = "/astronaut-hero-img.webp" } = Astro.props;
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-6xl md:text-left lg:text-8xl">
        <slot><span class="text-gradient">GSHIVG</span> Deving My Life</slot>
        </h1>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a class="button has-icon" href="https://github.com/gshivg" target="_blank">
            <Icon name="github" />
            Follow on GitHub
          </a>
          <a
            class="button has-icon color-secondary"
            href="https://www.linkedin.com/in/gshivg/"
            target="_blank"
          >
            <Icon name="linkedin" />
            Follow on LinkedIn
          </a>
        </div>
      </div>
      <img class="hidden lg:block" src={src} alt="" decoding="async" />
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(
      315deg,
      var(--primary-200) 25%,
      var(--secondary-500)
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(
      315deg,
      var(--primary-200) 25%,
      var(--secondary-400)
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  :global(.darkmode .color-secondary) {
    color: var(--secondary-400);
  }
</style>
