---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import ContentMedia from "../../components/ContentMedia.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("project")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<DefaultLayout title="My Projects">
  <section class="my-64">
    <div class="space-content container">
      <h1 class="text-8xl">My Projects</h1>
      <p>
        Projects are a great way to work on and showcase my skills and profiency
        at the sime time.
      </p>
      <p>
        Below given are a few of my projects that I'm super proud of. Click on
        the title to know more about each project.
      </p>
    </div>
  </section>
  <section>
    {
      posts.map((post) => (
        <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
          <h1>
            <a href={`/projects/${post.slug}/`} class="no-decor-link">
              {post.data.title}
            </a>
          </h1>
          <p class="text-2xl">{post.data.description}</p>
        </ContentMedia>
      ))
    }
  </section>
</DefaultLayout>
